._60b940f8b6372ece {
    display: flex;
    height: 20px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 9999px;
    color: var(--text-on-accent-primary-light, #fff);
    text-align: center;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0
}

._5548f869119bb29c {
    background: #0a8550
}

.e377f8aab0e853bc {
    background: #e02f1f
}

._839ba9df0dc3b35e {
    align-self: stretch;
    font-feature-settings: "init" on,"fina" on;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-style: normal;
    line-height: 20px
}

._5be00cf3e041a3c8 {
    color: #2a2a2d;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0
}

._3c0892e9e57287f5 {
    color: var(--text-primary-light, #5E5E5E);
    font-size: 14px;
    font-weight: 400
}

._9f39b34794d6ffd7 {
    align-self: stretch;
    background-color: #fcefee;
    color: var(--text-primary-light, #000000);
    border-radius: 20px;
    top: 50%;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 4px
}

._9f39b34794d6ffd7>.fab48ad6c4959fdb {
    position: relative;
    display: flex;
    align-items: center;
    color: #9e1c10;
    padding: 2px 8px
}

._9f39b34794d6ffd7>.fab48ad6c4959fdb:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 12px;
    background-color: #9e1c10;
    border-radius: 50%
}

.ad50d89f7f17dbe2 {
    position: absolute;
    z-index: 10000;
    display: flex;
    width: 401px;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 8px #1b1b1b29;
    direction: ltr
}

._7df78a6958273323 {
    border: 1px solid #37C871
}

._02025e79687ca687 {
    border: 1px solid #F29086
}

._2079b4af9786f824 {
    display: flex;
    justify-content: space-between;
    width: 100%
}

._9c3565f9406ce64d {
    height: 20px;
    width: auto
}

._9506b4ee2eafd8b8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px
}

._13f9509e980717d4 {
    width: 24px;
    height: 24px;
    margin-bottom: -5px
}

.a86f57a27e8c7643 {
    display: none!important
}

._5f50c9ce50ac1566 {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    height: 64px;
    padding: 12px 24px;
    align-items: center;
    background: #f7f7f8
}

.b7e975b2ffed7c01 {
    width: 142px;
    height: 32px;
    background-image: url('/mEWXaZOFLFtQo_QvdNHCRgNLWHHUSgti73FcGYjgc_sCRWKiwlREe_KtvLEr_6A762JhTfGmHgf9clEuenc24x5-g0iymEl7dY1N5SrHhi3BYzCohl23EHDs25BRvOx87ufPExpnQstOG_qAcBOtWpLgDvyDyJV-6EFgOMeBJWGc1Pn8QAU9TfwMhXGGkosYNJ_leW0pwlFM6ieAsQRDSgKJs3OurP22sjrrXbYaqxDBn6gVb3CNp2_WbF-Y-5r5G0tv1qk5CUMDWNTlE7HXVieb0CYzaO24RQP2Kf6VUJjYfrhSqJ7NwBHgiNtuMx6lW3fjGuq--JaygDHt2nNWH9aP9A9xEvVd5wLKHvk87h-VtqshZolGCPwvcDgPKPb8oXd3SAspZS0aZz2Kg38LoLFFwoTEOxK0vuWNNeJaEA')
}

.ffbe82a554934dab {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color .15s ease;
    border: none;
    background-color: transparent
}

.ffbe82a554934dab:focus {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #3e5fff;
    outline: none
}

.ffbe82a554934dab:hover {
    background-color: #ededed;
    color: #2a2a2d
}

.dd81830822d36e6f {
    width: 14px;
    height: 14px;
    background-image: url('/uxoKMMqkxRPN5BfoyqREgZD9y2nyM7bcCdOug9Fc6Ey_49dPFhSzC-GLIR2AnvpRORhIgcu91iwjMmvq5pnHXbYtyCAt8mzXcXEGMmDEZPS4bHargBwZR_KAJIIsnmuLsu-FKoiK4APrOX1x3h0bw75Jx5YPDwT2udiwPAx8qN8jJu7AWdJzMDweX4VusOanJrZyPTt1Y3kBH4G1uCUeTrlu3YS_q0TW4ZvfJvbqIwhZY6rSsqk0Fl5WgJuRlm2ywk8OogIb8_LqbT7Fll2auAtndo6U4XKhv5VYaLgS4DtTxxgjSI1J-XNHKkCn7FHwSgUD1QuhCerQMPnAWbp1Uw22ji6mkAC4V-JI6g_B00y2DWD0GRVMmU2NlIwoXZOKAjOEtRlQQNYX1aA');
    cursor: pointer
}

.efef57cd89b5ca8d {
    display: flex;
    padding: 24px 0;
    justify-content: center;
    gap: 16px;
    background: #f7f7f8;
    box-shadow: 0 4px 8px #00000029
}

._85d5c7b5d36ec191 {
    display: flex;
    max-width: 768px;
    padding: 32px;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 .5px #fff0 inset,0 2px 8px #0000000a
}

._4124da5fa1bc0bfd {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 16px;
    align-self: stretch;
    flex-wrap: wrap
}

._3c65531c49a20696 {
    display: flex;
    padding: 2px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 9999px;
    background: #ededed;
    color: #2a2a2d;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0
}

.d5fa6dd791d2fa4b {
    width: 80px;
    height: 80px;
    background-image: url('/jyLZiZ5JRAPgW333DDB3e_de3qHamPiKWOIgrjD6IltZEQakxDxhj8I9b7EoPGkC6QXBIKPfk08IRRu9AyV7bvJwZfDrVxFoNZZFKOJ2pHf6NmOYWIJbQ31yPI9WqddaWZjAdhlputTlCBVeyQnYs6poQ6gFsd87c-OgwZ3IkcJ2ksjq9mcKcMV7P0ZNquAcvsgKU71J1xtHXlRLDm3hAMdcHp6Fw9kppzjTkRYUyKj6N9hgDKcKUWRVXiGwjFixbgN0_XFT39sJdVn4Z700NiuEKIWZs48j9-YsAbwZNmRBobxkcummgIy8a8hA6aL0kALivTt4MMIC4TeRxJiA6ZcbC4NBXIF096foIh_gMeCOg6_LbVRwsXuLgDiLg_oDOEHWcFQRO04NkYRttOl2P08fFJCG76U')
}

._3373bc8163bac7ae {
    color: #2a2a2d;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -.25px
}

._3e76b0cdbb6c9585 {
    color: #2a2a2d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0
}

._3e76b0cdbb6c9585 a {
    color: #3e5fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer
}

._3e76b0cdbb6c9585 a:hover {
    color: #243dcc
}

._3e76b0cdbb6c9585 a:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #3e5fff;
    border-radius: 6px
}

.fa01641802a4e7ef {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch
}

.cbb85200606868ce {
    display: flex;
    min-height: 48px;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    cursor: pointer
}

._6fad9c81a9661921 {
    border: 1px solid #3e5fff;
    background: #3e5fff;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0
}

._6fad9c81a9661921:hover {
    background-color: #243dcc;
    border: 1px solid #243DCC
}

._6fad9c81a9661921:focus {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #3e5fff
}

.a9d0bebecdf4795f {
    border: 1px solid #c8c9cb;
    background-color: #fff;
    color: #3e5fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0
}

.a9d0bebecdf4795f:hover {
    background-color: #f3f7fc
}

.a9d0bebecdf4795f:focus {
    background-color: #f7f7f8;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #3e5fff
}

._6c23a3e1c73b8c0a {
    display: flex;
    padding: 24px 40px;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    background: #fff
}

.c2acf84ab0e1bf18 {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.f5aea359d187c761 {
    width: 32px;
    height: 32px;
    background-image: url('/T63-2QFoBLiC_wJu8gYnfDnJbeuBwcpLMEEX2JO37RFKCxqwS4L3r-F2kezp0liY4tyVhML9nfPYEoqWbFJ5KT8RSBozPG858IJCcnpAhRyKv9xeSDKkoxJBy1S8N1x2E1gj4bh8TyeyYW8YeBexV1hZWedNk1W7QbSH4qBhGkntK68GQmG7oDBfo0rsVTCwQFKq90kAfuyd4p3vpUbE66x-KdMvM-QJvlgXRC1_cQyjk05iL4wwH5SjI9w0jtzedJygOE__IYVFiG8KPVoymjhP9tXzpZm1Dq4O616A9dRjmTpJdRz1wGrW2719Mc-kEcHuXFsI2xkWLHKypgKcIfmvCUnQGL7AdtztPXs9lgoUVoPuSjqTuwFK6xchwAXBnFugJp2BwLZ-4KTGf-xaVg')
}

._947f777336996a4f {
    color: #1b1b1b;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0
}

._547a06a0a44bd9c3 {
    color: #2a2a2d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0
}

@media (max-width: 576px) {
    ._4124da5fa1bc0bfd {
        flex-direction:column
    }

    .fa01641802a4e7ef {
        width: 100%;
        flex-direction: column;
        align-items: stretch
    }

    ._6c23a3e1c73b8c0a {
        display: flex;
        flex-direction: column
    }
}

.a67dc7a5763ea4ed {
    display: flex;
    flex-direction: column;
    margin: 0
}

._4dcd17c69f59a81f {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: none
}

._5295f82d2c2e0b66 {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

._75c74609ec3d9a15 {
    order: 1;
    align-self: center;
    width: 68px;
    height: 24px;
    margin-left: 8px;
    background-image: url('/rOnNLuj-dLuNKwozzr9YbpdDERfyAz1DHYOyYO9CGLqJ_ZpbclNcpdWjIKxs1Cy4VibFMV7iVKgGl4ierkl-Xhtxh2LlWo2TL25GZ1O_dWIm9-D57x1iDUzF06BopKOtE02NgNP4GmvNyuq-zAP4toBZZp4JyyZEpffxP6hQRVWkPJbRGsY9d81HJM_FKQnP2wYBrH3JdBreKvZbuVEmB8S9C4JROAHs9KLFJSJVPMeTznTHCbNQirlayvxD7Sn7LZzX1kc58yvfLr2PRM-GxFPucp3QfoUYi61Ja0kkyIahK7mRwIwlHi3MQzhHVXmxLjRXxQ8o_tftbYrCas5vmHxg0DJpRTYkSW0_6iGn-KznflMKdm1B_xzqHLpgS00hjhxh_9ChIwbHA_4NYAaoqnQ1oNKPpkEOqZyk3Mkwjg');
    background-position: left 0 top 8px;
    background-repeat: no-repeat;
    background-size: auto 14px
}

.cc6efb6fc88e1755 {
    order: 2;
    justify-self: end;
    align-self: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: #555;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 0 8px 0 0;
    cursor: pointer
}

._900b6933c13dfe83 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 30px;
    background: var(--bg-bg-accent-subtle, #f3f7fc);
    margin: 0
}

._2c28b13ad4e60f35 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 16px;
    margin: 0
}

._39569aff69b135e5 {
    background-image: url('/6_ru_4BoeV2l_kuwP-o1bhyrPbjIpYJM0kBFo2NCFe4JCZgw5vubiGr04vPbJNXiEt1ekd04-aFaych6qSB9duHSuuMoiE-paehDL0IFlkOme2U8YRaqXBJGNiIjHrGjNbxOmmHIKOQmON0JuBXzGsxwzmy7pZWbUUXAeniMkvgC2SoqurpqZ8e30RE2KQq3EUwDh8SFDVQP01X7LxQ6xxhyXTs7JTG7cf78KFcSMW9bU3xbKsYjupfpMxdUjxNWdcx5E59cDj9jmOlSVrHmzZe5sqL8sp4V1KkVwk2wbQR3guHB6BMJkV5-hV8eh3urZIJ7Z4-IlJ9mD6apTdKo92kNj8AIUyhaPpueIw9VIxtvu0pVEqbxS9n6KY4ZTuaF07nJmXaNacxlAbfIkIb9yTLmkkdiGw');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    margin-left: 16px;
    margin-top: 0
}

.d3c3e9e61f5b37a5 {
    color: var(--text-text-primary, #2a2b32);
    font-feature-settings: "clig" off,"liga" off;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -.56px;
    margin: 0
}

.a22c63e4a725662b {
    color: var(--text-text-secondary, #4d4e56);
    font-feature-settings: "clig" off,"liga" off;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 875px;
    margin: 0
}

.dafb69299101093a {
    color: var(--text-text-secondary, #4d4e56);
    font-feature-settings: "clig" off,"liga" off;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    max-width: 875px;
    margin: 6px 0 0
}

.ba9a5dc88a94d117 {
    text-align: left;
    margin: 0 0 0 10px
}

.ba9a5dc88a94d117:before {
    content: "•";
    padding-right: 5px
}

._2852e2e025e95ea2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 16px;
    gap: 12px
}

._6d59868e6b930f89 {
    font-feature-settings: "clig" off,"liga" off;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    padding: 8px 24px;
    cursor: pointer;
    transition-duration: .4s;
    border-radius: 4px;
    margin: 0
}

.a92c8e1be321a9cb {
    background-color: #3e5fff;
    color: #fff;
    border: 1px solid #3e5fff
}

.a92c8e1be321a9cb:hover {
    background-color: #6e86fe
}

._05baebd049060a9f {
    background-color: #f3f7fc;
    color: #4687ff;
    font-weight: 600;
    border: 1px solid #3e5fff
}

._05baebd049060a9f:hover {
    color: #305eb2
}

._95a734b80fe39bd8 {
    all: initial;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 2147483647
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    filter: none;
    transform: none;
    transition: none;
    animation: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

input,textarea,select,button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: initial
}

a {
    text-decoration: none;
    color: initial;
    background-color: transparent
}

ul,ol {
    list-style: none
}

img,embed,object,iframe {
    max-width: 100%
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0
}

._09b536ed3ba92ed0 {
    position: absolute;
    z-index: 2147483647;
    display: flex;
    width: 401px;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 8px #1b1b1b29;
    border: 1px solid var(--border-border-critical, #F29086);
    direction: ltr
}

._6da09fc7653d157b {
    display: flex;
    justify-content: space-between;
    width: 100%
}

._704250adcb2f8118 {
    height: 20px;
    width: auto
}

._5363d61fa04c0ce9 {
    display: flex;
    height: 20px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 9999px;
    background: #e02f1f;
    color: #fff;
    text-align: center;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0
}

._42e5eacb61acfbed {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px
}

._8a3d7ee2d5c8e91c {
    align-self: stretch;
    font-feature-settings: "init" on,"fina" on;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-style: normal;
    line-height: 20px
}

._1ee481b7bab20993 {
    color: #2a2a2d;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0
}

.b0b72e5fbf77b463 {
    color: var(--text-primary-light, #5e5e5e);
    font-size: 14px;
    font-weight: 400
}

._2e6c1e102c044984 {
    align-self: stretch;
    background-color: #fcefee;
    color: var(--text-primary-light, #000000);
    border-radius: 20px;
    top: 50%;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 4px
}

._2e6c1e102c044984>._4f445831ec1971eb {
    position: relative;
    display: flex;
    align-items: center;
    color: #9e1c10;
    padding: 2px 8px
}

._2e6c1e102c044984>._4f445831ec1971eb:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 12px;
    background-color: #9e1c10;
    border-radius: 50%
}

._27e4f60f94906161 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #fff;
    border-radius: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    gap: 12px;
    border: 1px solid #DB1F1F;
    margin-top: 16px
}

._66dc89c928d1176c {
    margin: 12px 0
}

._6a126a75283fe7c1 {
    font-family: Inter;
    font-style: normal;
    margin: 0;
    color: #2a2a2d;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px
}

._4300a2bed233e4db {
    font-weight: 700
}

.e61b1eddfddf27cb {
    font-weight: 600
}

.db74839c3c5eaa44 {
    height: 20px;
    width: auto
}

.b7819dd93e7a879f {
    width: 11px;
    height: 0px;
    border: 1px solid #E2E2E4;
    transform: rotate(90deg)
}

._418cbc9763ea15a6 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.8px;
    color: #2a2a2d;
    margin: 0
}

._49988112d60e399c {
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color .15s ease;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent
}

._49988112d60e399c:focus {
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #3e5fff;
    outline: none
}

._49988112d60e399c:hover {
    background-color: #ededed;
    color: #2a2a2d;
    outline: none
}

._49988112d60e399c {
    background-image: url('/YDhx63Sgck7kxL0j5g21h3PZx8FUWwfeIyoQ4RILtHurZuNCNhS41xYiseoEXVBNyuBSiybpE2vSxpOXF986cXivHtGy3gbBPpQ_iFN04speEhtk7BUvV5hc8qunfvm-xZVzDYhaS_ZnG4kp8eiEql-pW6xHBloQEWM3MTPL7aZpnxYcNQExLisaIMK0yAz5saGWGyWxRANmG_N8iAa9yt_sYR1uCX17u6ZLp7iLi5yHdKxrjSTaw2fMQI375Of1byzEvhLnJGAEHEn_RKpdThW9mG77joZHSMdIFtqIU2T_p5axanpsEe0moOtIapGvsdUeGq3yRd2SyH3BgQJBWdXUQkyF4jqf7IQnF3X4sgqWQSfFpMNgF56awaKawNYWq1jz_C5QkMitcZzzoOc2_IdK');
    cursor: pointer
}

._521671b7ee73f5d0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.a065e1b0c14113a1 {
    display: flex;
    align-items: center;
    gap: 16px
}

._13ac14754559de13 {
    display: flex;
    align-items: center;
    gap: 3.6px
}

._10166ccc23cc711f {
    display: flex;
    align-items: center;
    gap: 8px
}

._7ca79cc5737c929f {
    width: 100%
}

._27a63af1caf66b68 {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #696d77;
    margin: 0
}

.ca22c4adf2e2ac43 {
    display: flex;
    align-items: center;
    margin-top: 12px
}

._09cd1723e2af5aad {
    height: 1.5em;
    width: auto;
    margin-right: 4px;
    vertical-align: middle;
    margin-bottom: 2.5px
}

.fafe97ce2a1feb0b {
    height: 100%;
    width: auto
}

._2a80229b91b4f02e {
    padding: 0 10px 0 0;
    min-width: 22px;
    vertical-align: text-top
}
